.noCampers {
    font-size: 18px;
    color: var(--button-hover);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--rating);

    font-size: 18px;

}
.loadMore {
    margin-top: 40px;
    display: block;
    margin: 24px auto 0;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    border: 1px solid var(--gray-light);
    background-color: var(--white);
    cursor: pointer;
}
.loadMore:hover {
    border: 1px solid var(--button-hover);
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
}
